#reg{
	margin: auto;
    width: 65%;
}
#signup,#login,#logout{
	width: 150px;
	height: 50px;
	background-color: #AEABAB;
	border-radius:2px;
	display: inline-block;
	float:left;
	font-size: 25px;


}
#questionsubmit{
	width: 150px;
	height: 50px;
	background-color: #AEABAB;
	border-radius:2px;
	display: inline-block;
	font-size: 25px;
}


#addquestion{
	width: 150px;
	height: 70px;
	background-color:#AEABAB;
	border-radius:2px;
	display: inline-block;
	float:left;
	font-size: 25px;

}
#login,#logout{
	position:fixed;
	top: 20px;
	right:400px;
}
#signup,#addquestion{
	position:fixed;
	top: 20px;
	right:250px;
}
#welcome{
	position:fixed;
	top:20px;
	right:55px;
	font-size:25px;
}

#question{

	
	position:relative;
	
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	font-size: 20px;
	background-color:#8492a0;
}

#answer{
	position:relative;
	
	display:none;
	
}

#allanswers{

	border-bottom-width:2px;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	font-size:20px;


}


a{
	color:black;
	text-decoration:none;
}

#qdisplay{
	background-color:#8492a0;
	padding-right: 10px;
	padding-left: 10px;
	position:relative;
	padding-top: 20px;
    padding-bottom: 20px;
	font-size:15px;

}
#questiontext{
	
	left:10px;
	right:10px;
}
#askedby{
	float:left;
	position :relative;
	right:0px;
	left: 10px;
}
hr{
	position :relative;
	left: 0px;
	right: 0px;
	width: 100%;
	border-width:0px;
}
#afterans{
	
	left: 0px;
	right: 0px;
	
	border-width:4px;

}

.votecount{
	font-size: 25px;
	padding-left: 55px;
}
