#heading{


	color:black;
	position:relative;
	width:65%;
	height:15%;
	text-align: center;
    font-size:30px;
	border-style: solid;
	border-width: 5px;
	background-color: white;
	left:5%;
}

#signup,#login,#logout{
	width: 150px;
	height: 50px;
	background-color: #AEABAB;
	border-radius:2px;
	display: inline-block;
	float:left;
	font-size: 25px;


}
#questionsubmit{
	width: 150px;
	height: 50px;
	background-color: #AEABAB;
	border-radius:2px;
	display: inline-block;
	font-size: 25px;
}
#ans{
    width: 8%;
	height: 5%;
	background-color: #AEABAB;
	border-radius:2px;
	display: inline-block;
	position:relative;
	font-size: 25px;
	left:5%;
}
#addqform{
	position:relative;
	left:5%;
}
#addquestion{
	width: 150px;
	height: 70px;
	background-color:#AEABAB;
	border-radius:2px;
	display: inline-block;
	float:left;
	font-size: 25px;

}
#login,#logout{
	position:fixed;
	top: 20px;
	right:400px;
}
#signup,#addquestion{
	position:fixed;
	top: 20px;
	right:250px;
}
#welcome{
	position:fixed;
	top:20px;
	right:55px;
	font-size:25px;
}

#question{

	width: 74%;
	position:relative;
	left: 5%;
	padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
	font-size: 25px;
	background-color:#AEABAB;
}
#anspost{
	width: 150px;
	height: 50px;
	background-color: #AEABAB;
	border-radius:2px;
	display: inline-block;
	float:left;
	font-size: 25px;
	position:absolute;
	left: 25px;
}
#answer{
	position:relative;
	height: 100px;
	width: 1500px;
	display:none;
	left: 5%;
}

#allanswers{

	border-bottom-width:2px;
	width:80%;
	left: 5%;
	position:absolute;
	padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
	font-size:20px;


}


a{
	color:black;
	text-decoration:none;
}

#qdisplay{
	background-color:#AEABAB;
	width: 75%;
	position:relative;
	left: 5%;
	right: 0px;
	padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
	font-size:20px;

}
#askedby{
	float:left;
	position :relative;
	right:0px;
}
hr{
	position :relative;
	left: 0px;
	right: 0px;
	width: 100%;
	border-width:0px;
}
#afterans{
	position :relative;
	left: 0px;
	right: 0px;
	width: 100%;
	border-width:1px;

}
